doctype html
html
    head
        title Mongo Users
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(src="/socket.io/socket.io.js")
        script(src="clientJs/script.js")
    body
        p Welcome to Mongo User Table!
        div#loginStuff
            form(action="/login", method="post")
                p Login!
                div#usernameEntry
                    label(for="loginInput") Username:
                    input#loginInput(type="text", name="username")
                div#passwordEntry
                    label(for="passwordInput") Password:
                    input#passwordInput(type="text", name="password")
                button#loginBtn(action="submit") Login

            
        div#createAccountStuff
            form(action="/newAccount" method="get")
                p Don't have an account yet?
                button(type="submit")#createAcctBtn Create Account

